<div class="container mt-2">
  <h2>Simple E-commerce proccess manager</h2>

  <div class="card mt-4">
    <div class="card-header">
      Sample order form
    </div>
    <div class="card-body">
      <label for="name" class="form-label">Type your name</label>
      <input class="input-name form-control mb-2" name="name" type="text" placeholder="Alex" required>
      <label for="email" class="form-label">Type your Email</label>
      <input class="input-email form-control mb-2" name="email" type="email" placeholder="alex@example.com" required>
      <label for="phone" class="form-label">Type your Phone</label>
      <input class="input-phone form-control mb-2" name="phone" type="phone" placeholder="89991112233" required>
      <label for="summ" class="form-label">Type your order summ</label>
      <input class="input-summ form-control mb-2" name="summ" type="number" placeholder="12.34" required>

      <label for="summ" class="form-label">Choose delivery method</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="delivery">
        <label class="form-check-label" for="flexRadioDefault1">
          Delivery
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="pickup">
        <label class="form-check-label" for="flexRadioDefault2">
          Pickup
        </label>
      </div>
      <div class="">
        <a target="_blank" href="https://t.me/SimpleBPMBot?start" class="link-success mt-8">Subscribe
          Telegram Bot</a>
      </div>

      <button type="button" class="btn btn-success sub-btn mt-4">Place order</button>
    </div>
  </div>



</div>